# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
**/*.cmake
**/*.cbp
**/CMakeCache.*
**/Makefile
**/cmake-build-debug
**/cmake-build-release
**/CMakeFiles
**/aws-mock
**/install_manifest.txt
**/_deps

# Idea
.idea
**/*.iml

# Doxygen
**/CMakeDoxyfile.in

# Tests
Testing
**/*_tst
core/tst/*.txt
**/cmake-build-debug-coverage
**/test*

# Docs
docs/html
docs/xml
docs/docs
docs/man/**.1

# Ninja
**/.ninja*
**/*.ninja

# database
dist/samples/database-data

# executables
src/controller/awsmockctl
src/manager/awsmockmgr
src/awslocal/awslocal

# Examples
**/out.json

# Tests

# Visual studio
ALL_BUILD*
RUN_TESTS*
ZERO_CHECK*
INSTALL*
awsmock.sln
x86
.suo
.wsuo
**/*vsidx
**/*.log
**/*.pdb
**/*.recipe
**/*.filters
**/*.db
**/*.def
**/*.exp
**/*.tlog
**/*.command
**/*.vcxproj
**/*.ipch
**/*.txt
**/*.bin
**/*.sqlite
**/CMake Overview