# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
**/*.cmake
**/*.cbp
**/CMakeCache.*
**/Makefile
**/cmake-build-debug
**/cmake-build-release
**/CMakeFiles
**/aws-mock
**/install_manifest.txt
**/_deps

# Idea
.idea
**/*.iml


# Tests
Testing/*
**/*_tst
core/tst/*.txt

# Docs
docs/html
docs/xml
docs/docs

# Ninja
**/.ninja*
**/*.ninja

# database
samples/database-data
